<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja;ru"/>
    
    
    -->
  </appSettings>
  <connectionStrings>

      <add name="ConnectionString" connectionString="" />
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=Apollo11.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
